/* div[class^="col"] {
	border: 1px blue solid;
} */

img {
	height: 20vh;
	width: 15vh;
	object-fit: fill;
	border-style: solid;
}

.row {
	border: 10px;
}

body {
	background-color: lightsteelblue;
}

.hidden {
	display: none;
}

.deshabilitado {
	opacity: 50%;
}
